*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #f5f5f5;
    // background: $white;
    font-family: $grad-font-family;
    font-size: 1rem;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    letter-spacing: 0.06rem;
    line-height: 1.7;
    padding: 2rem;
    color: $black-212;
}

hr {
    border: 1px solid rgba(0, 0, 0, .15);
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

a,
a:hover {
    transition: .25s ease color, .25s ease box-shadow, .25s ease background-color;
}

figure {
    margin: 0;
}

.logo img {
    height: 18.75em;
    margin-top: 6em;
}

//h1 {
//    color: rgba(0,0,0,0.5);
//    font-size: 1.8em;
//    font-weight: 400;
//    margin: 0;
//}

.doc {
    margin: 3em 0;
    font-size: 1.1em;
    font-weight: 300;

    a {
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 0.75em 0.7em;
        color: #aaa;
        text-decoration: none;
        transition: color 0.1s linear;
        &:hover {
            background: rgba(0,0,0,0.05);
            color: #777;
            transition: all 0.15s linear;
        }
    }
}

.welcome {
    -webkit-animation-name: welcome;
    -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
    from {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    82.5% {
        -webkit-transform: scale(1.03);
        -webkit-animation-timing-function: ease-out;
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
    }
}
