// Colors
$black-212: #212121;
$black-919: #919191;
$yellow: #FCD900;


// Font Family
$grad-font: "grad", serif;
$grad-font-family: $grad-font;

$grad-regular: normal;
$grad-italic: italic;

$grad-400: 400;
$grad-700: 700;
