@import "settings.variables";

.type-bold {
    font-weight: $grad-700;
}

.title {
    font-size: 3.4rem;
    font-size: calc(1vw + 1.15rem);
    font-weight: $grad-700;
    letter-spacing: -0.02rem;
    color: $black-212;
    margin-bottom: .25rem;
    margin-top: 0;
    line-height: 1.4;

    a {
        text-decoration: none;
        color: $black-212;
    }

    &.-xl {
        font-size: calc(1.3vw + 2rem);
    }
}

.timestamp {
    font-size: 0.85rem;
    color: lighten($black-212, 40%);
    margin: 0 0 2rem 0;
    padding: 0;
    display: block;
}

p {
    font-family: "source serif pro";
    font-weight: 200;
    font-size: 1.6rem;
    letter-spacing: -0.01px;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    max-width: 75ch;

    &:not(:first-child) {
        margin-bottom: 0;
    }
}
