@import "settings.variables";

.type-bold {
    font-weight: $grad-700;
}

.title {
    font-size: 3.4rem;
    font-size: calc(1vw + 1.05rem);
    font-weight: $grad-700;
    letter-spacing: -0.01rem;
    color: $black-212;
    margin-bottom: .25rem;
    margin-top: 0;
    line-height: 1.14;
    font-variant-ligatures: normal;
    font-feature-settings: 'calt', 'clig', 'kern', 'liga', 'locl', 'rlig';

    a {
        text-decoration: none;
        color: $black-212;
    }

    &.-xl {
        font-size: calc(1.3vw + 2.05rem);
        font-weight: $grad-400;
        letter-spacing: -0.1rem;
        line-height: 1.07;
        font-variant-ligatures: normal;
        font-feature-settings: 'calt', 'clig', 'kern', 'liga', 'locl', 'rlig';
    }

    &.-sm {
        font-size: calc(0.5vw + 1rem);
        font-weight: $grad-700;
        letter-spacing: -0.01rem;
        font-variant-ligatures: normal;
        font-feature-settings: 'calt', 'clig', 'kern', 'liga', 'locl', 'rlig';
    }

    &.leading-title {
        width: 50vw;
        font-size: calc(1.3vw + 2.05rem);
        max-width: 31ch;
        font-variant-ligatures: normal;
        font-feature-settings: 'calt', 'clig', 'kern', 'liga', 'locl', 'rlig';
    }
}

.timestamp {
    font-size: 0.85rem;
    color: lighten($black-212, 40%);
    margin: 0 0 2rem 0;
    padding: 0;
    display: block;
}

p {
    font-family: "source serif pro";
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: -0.01px;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    max-width: 75ch;
    color: rgba(0, 0, 0, .85);
}

.text-c { text-align: center; }

h2 {
    line-height: 1.31;
    margin-bottom: 2rem;
}

h4 {
    letter-spacing: -0.001rem;
}
