---
title: Dan Malarkey is a design leader in Northeast Florida.
---
<div class="w-75 center-item">
    <h1 class="title -xl">A design leader focused on product.</h1>
</div>
    <div class="welcome">
      <div class="logo">
        <%= image_tag "middleman-logo.svg" %>
      </div>
      <h1>Dan Malarkey is a design leader in Northeast Florida.</h1>
      <p class="doc">
        <%= link_to "Read Documentation Online", "https://middlemanapp.com", target: "_blank" %>
        <%= link_to "Journal", "/journal" %>
      </p><!-- .doc -->
    </div><!-- .welcome -->
